.searchInput {
    width: 269px;
    padding: 0.88rem;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #010c3f;
    text-align: center;
    font-size: 1.125rem;
}

.searchInput:focus {
    outline: none;
}