

h1 {
    background-color: rgb(1, 12, 63);
    padding: 12.32rem 0;
    font-family: 'Poppins', sans-serif;
    font-size: 33.84rem;
    color: #fff;
    text-align: center;
    margin-top: 0;
}

.highlight {
    color: #6c41ec;
}